@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.95 0.01 196.81);
  --foreground: oklch(0.38 0.06 211.49);
  --card: oklch(0.97 0.01 196.81);
  --card-foreground: oklch(0.38 0.06 211.49);
  --popover: oklch(0.97 0.01 196.81);
  --popover-foreground: oklch(0.38 0.06 211.49);
  --primary: oklch(0.72 0.12 210.36);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.97 0.01 247.91);
  --secondary-foreground: oklch(0.14 0 0);
  --muted: oklch(0.97 0.01 247.91);
  --muted-foreground: oklch(0.55 0.04 256.40);
  --accent: oklch(0.96 0.02 204.34);
  --accent-foreground: oklch(0.57 0.10 213.73);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.93 0.01 256.71);
  --input: oklch(0.93 0.01 256.71);
  --ring: oklch(0.72 0.12 210.36);
  --chart-1: oklch(0.72 0.12 210.36);
  --chart-2: oklch(0.57 0.10 213.73);
  --chart-3: oklch(0.79 0.12 209.45);
  --chart-4: oklch(0.76 0.11 208.70);
  --chart-5: oklch(0.83 0.10 208.33);
  --radius: 0.625rem;
  --sidebar: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.14 0 0);
  --sidebar-primary: oklch(0.72 0.12 210.36);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.96 0.02 204.34);
  --sidebar-accent-foreground: oklch(0.57 0.10 213.73);
  --sidebar-border: oklch(0.93 0.01 256.71);
  --sidebar-ring: oklch(0.72 0.12 210.36);
}

.dark {
  --background: oklch(0.21 0.02 226.02);
  --foreground: oklch(0.85 0.13 194.97);
  --card: oklch(0.23 0.03 218.18);
  --card-foreground: oklch(0.85 0.13 194.97);
  --popover: oklch(0.23 0.03 218.18);
  --popover-foreground: oklch(0.85 0.13 194.97);
  --primary: oklch(0.72 0.12 210.36);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.27 0.01 285.81);
  --secondary-foreground: oklch(0.97 0 0);
  --muted: oklch(0.24 0 0);
  --muted-foreground: oklch(0.71 0.01 286.23);
  --accent: oklch(0.24 0 0);
  --accent-foreground: oklch(0.97 0 0);
  --destructive: oklch(0.64 0.21 25.39);
  --border: oklch(0.29 0 0);
  --input: oklch(0.29 0 0);
  --ring: oklch(0.72 0.12 210.36);
  --chart-1: oklch(0.72 0.12 210.36);
  --chart-2: oklch(0.79 0.12 209.45);
  --chart-3: oklch(0.76 0.11 208.70);
  --chart-4: oklch(0.83 0.10 208.33);
  --chart-5: oklch(0.57 0.10 213.73);
  --sidebar: oklch(0.19 0 0);
  --sidebar-foreground: oklch(0.97 0 0);
  --sidebar-primary: oklch(0.72 0.12 210.36);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.24 0 0);
  --sidebar-accent-foreground: oklch(0.97 0 0);
  --sidebar-border: oklch(0.29 0 0);
  --sidebar-ring: oklch(0.72 0.12 210.36);
}

@theme inline {
    --font-sans: 'Figtree Variable', sans-serif;
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply font-sans bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}

